* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: auto;
    width: 100%;
    display: block;
}


ul,
ol {
    list-style: none;
}


a {
    text-decoration: none;
}

button,
input {
    all: unset;
    display: inline-block;
    border: none;
    background: none;
}

/* Style to remove X icon from internet explorer and chrome */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}